extends ../layouts/layout
include ../partials/bg/bg
include ../partials/button/button
include ../partials/poster/poster

block variables
    - var title ="Home"

block main
  main.home
    section.home-header
      .container.container_big.home-header__container
        .home-header__h1
          span.suptitle.home-header__suptitle Welcome to Orcosa
          h1.h1.home-header__title Modernizing <span>the <br> way</span> medicines <br> are taken.
          div.subtitle.home-header__subtitle Orcosa is focused on improving patient <br> outcomes through our next generation <br> drug delivery technology, the RITe™<br> Platform.
        +poster('video', 'video/1.mp4', 'poster_bl home-header__poster')

    section.home-platform
      .container.home-platform__container
        .home-line
        .pill.pill_fade-up
          img.pill__img(src='images/pill-grey.png' alt='')
          img.pill__shadow(src='images/pill-shadow.png' alt='')
        .home-platform__title.fade-up
          span.suptitle Rapid Infusion Technology™ (RITe) Platform
          div.title With extremely rapid disintegration time, enhanced absorption profiles, and advanced flavor masking capabilities, the RITe™ Platform is a versatile technology that can enable a wide range of active ingredients to work quickly and efficiently in the body.
          +button('Explore our platform', '#', 'home-platform__btn')

    section.home-benefits
      .container
        +poster('img', 'images/home/3.jpg', 'poster_tl home-benefits__poster')
          .home-benefits__textual
            p <span>RITe™ tablets dissolve in less than 3 seconds,</span> rapidly infusing an active ingredient into the bloodstream through the tissue in your mouth.
        ul.fade-up-ladder.home-benefits__list
          li
            img(src='images/home/benefits/1.svg')
            h3 Easy to take
            p RITe™ tablets disintegrate rapidly, without the need for water
          li
            img(src='images/home/benefits/2.svg')
            h3 Fast action
            p Effects are felt in minutes
          li
            img(src='images/home/benefits/3.svg')
            h3 Enhanced bioavailability
            p Lower dose still achieves desired effects while reducing unwanted side effects
          li
            img(src='images/home/benefits/4.svg')
            h3 Durable, portable, and highly stable
            p RITe™ tablets are compact, lightweight, and not sensitive to storage conditions
        .fade-up
          +button('See all benefits', '#', 'home-benefits__btn')

    section.home-oravexx
      .container.home-oravexx__container
        .pill.pill_sm.pill_fade-up.home-oravexx__pill
          img.pill__img(src='images/pill-yellow-small.png' alt='')
          img.pill__shadow(src='images/pill-shadow.png' alt='')
        .flex.flex_column.flex_ycenter.fade-up
          span.suptitle.home-oravexx__suptitle Our First Product Candidate: ORAVEXX™ (cannabidiol)
          h2.home-oravexx__title Introducing a non-addictive alternative to opioids for moderate to severe post-surgical pain.
          +button('Learn about ORAVEXX™', '#', 'btn_grey')

    section.home-manufacturing
      .container.home-manufacturing__container.fade-up-ladder
        +poster('video', 'video/2.mp4', 'poster_tl home-manufacturing__poster')
        .home-manufacturing__textual
          .home-manufacturing__text
            span.suptitle Proprietary Manufacturing
            h2.title All RITe™ products are manufactured at our state of the art cGMP-compliant facility in New Jersey. 
            div.subtitle Orcosa exclusively controls all applications of the  RITe™ Platform. Our facility includes custom manufacturing machinery enabling seamless scaled manufacturing.
          +button('Learn more', '#', 'home-manufacturing__btn')

    section.home-explore.fade-up
      .container.home-explore__container
        .home-explore__textual
          span.suptitle Research
          h2.title Headline here about research lorem ipsum dolor sit amet, consectetur adipiscing elit.
          div.subtitle Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi.
        ul.home-explore__list
          li.home-explore__item
            img(src='images/home/explore/1.svg')
          li.home-explore__item
            img(src='images/home/explore/2.svg')
          li.home-explore__item
            img(src='images/home/explore/3.svg')
          li.home-explore__item
            img(src='images/home/explore/4.svg')
        +button('Explore our trials', '#', 'home-explore__btn')

    section.home-news.fade-up
      .container
        h2.title.home-news__title News
        .home-news__list
          .home-news__item
            h3
              a(href='#') Title of Post Here Lorem Ipsum Dolor Sit Amet
            p Brief excerpt here sed ut pers piciatis unde omnis iste natus error sit voluptatem acc.
          .home-news__item
            h3
              a(href='#') Title of Post Here Lorem Ipsum Dolor Sit Amet
            p Brief excerpt here sed ut pers piciatis unde omnis iste natus error sit voluptatem acc.
          .home-news__item
            h3
              a(href='#') Title of Post Here Lorem Ipsum Dolor Sit Amet
            p Brief excerpt here sed ut pers piciatis unde omnis iste natus error sit voluptatem acc.
          .home-news__item
            h3
              a(href='#') Title of Post Here Lorem Ipsum Dolor Sit Amet
            p Brief excerpt here sed ut pers piciatis unde omnis iste natus error sit voluptatem acc.
        +button('View all', '#', 'home-news__btn')
      







