extends ../layouts/layout
include ../partials/bg/bg
include ../partials/button/button
include ../partials/poster/poster

block variables
  - var title ="Inner"

block main
  main.inner-page
    .container
      h1 lorem Ipsum
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum enim laborum illum sint ut doloremque necessitatibus repellat. Provident cum debitis quibusdam quasi ab ad pariatur facilis reprehenderit maiores nesciunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum enim laborum illum sint ut doloremque necessitatibus repellat. Provident cum debitis quibusdam quasi ab ad pariatur facilis reprehenderit maiores nesciunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum enim laborum illum sint ut doloremque necessitatibus repellat. Provident cum debitis quibusdam quasi ab ad pariatur facilis reprehenderit maiores nesciunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum enim laborum illum sint ut doloremque necessitatibus repellat. Provident cum debitis quibusdam quasi ab ad pariatur facilis reprehenderit maiores nesciunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum enim laborum illum sint ut doloremque necessitatibus repellat. Provident cum debitis quibusdam quasi ab ad pariatur facilis reprehenderit maiores nesciunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum enim laborum illum sint ut doloremque necessitatibus repellat. Provident cum debitis quibusdam quasi ab ad pariatur facilis reprehenderit maiores nesciunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum enim laborum illum sint ut doloremque necessitatibus repellat. Provident cum debitis quibusdam quasi ab ad pariatur facilis reprehenderit maiores nesciunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum enim laborum illum sint ut doloremque necessitatibus repellat. Provident cum debitis quibusdam quasi ab ad pariatur facilis reprehenderit maiores nesciunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum enim laborum illum sint ut doloremque necessitatibus repellat. Provident cum debitis quibusdam quasi ab ad pariatur facilis reprehenderit maiores nesciunt!
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dolorum enim laborum illum sint ut doloremque necessitatibus repellat. Provident cum debitis quibusdam quasi ab ad pariatur facilis reprehenderit maiores nesciunt!