extends ../layouts/layout

block variables
    - var title ="Leadership-Inner"

block main
  main.leadership-inner.inner-page
    .container.leadership-inner__container
      .leadership-inner__left
        img(src='images/home/3.jpg')
      .leadership-inner__right
        .leadership-inner__header
          h1 Lorem Ipsum
          h2 Managing Principal, Founder and Chief Executive Officer
        div.leadership-inner__textual
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, quos cupiditate. Voluptas reprehenderit, voluptatum quasi dolore similique eveniet explicabo repudiandae assumenda fugiat, iure nemo blanditiis ad vitae eaque cumque sint!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, quos cupiditate. Voluptas reprehenderit, voluptatum quasi dolore similique eveniet explicabo repudiandae assumenda fugiat, iure nemo blanditiis ad vitae eaque cumque sint!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, quos cupiditate. Voluptas reprehenderit, voluptatum quasi dolore similique eveniet explicabo repudiandae assumenda fugiat, iure nemo blanditiis ad vitae eaque cumque sint!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, quos cupiditate. Voluptas reprehenderit, voluptatum quasi dolore similique eveniet explicabo repudiandae assumenda fugiat, iure nemo blanditiis ad vitae eaque cumque sint!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, quos cupiditate. Voluptas reprehenderit, voluptatum quasi dolore similique eveniet explicabo repudiandae assumenda fugiat, iure nemo blanditiis ad vitae eaque cumque sint!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, quos cupiditate. Voluptas reprehenderit, voluptatum quasi dolore similique eveniet explicabo repudiandae assumenda fugiat, iure nemo blanditiis ad vitae eaque cumque sint!
        a(href="") Back to Leadership

