extends ../layouts/layout

block variables
    - var title ="Leadership"

block main
  main.leadership.inner-page
    .container
      .leadership__header
        h1 Leadership 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio pariatur optio illum facilis, veritatis fugiat, suscipit reprehenderit quibusdam molestiae magni, itaque excepturi cumque provident officiis magnam dicta! Commodi, unde quae!
      ul.leadership__list
        li.leadership__item
          a(href='')
            img.leadership__img(src="images/home/3.jpg", alt="")
          h3
            a(href="") Lorem Ipsum 
          div Managing Principal, Founder and Chief Executive Officer
        li.leadership__item
          a(href='')
            img.leadership__img(src="images/home/3.jpg", alt="")
          h3
            a(href="") Lorem Ipsum 
          div Managing Principal, Founder and Chief Executive Officer
        li.leadership__item
          a(href='')
            img.leadership__img(src="images/home/3.jpg", alt="")
          h3
            a(href="") Lorem Ipsum 
          div Managing Principal, Founder and Chief Executive Officer
        li.leadership__item
          a(href='')
            img.leadership__img(src="images/home/3.jpg", alt="")
          h3
            a(href="") Lorem Ipsum 
          div Managing Principal, Founder and Chief Executive Officer
        li.leadership__item
          a(href='')
            img.leadership__img(src="images/home/3.jpg", alt="")
          h3
            a(href="") Lorem Ipsum 
          div Managing Principal, Founder and Chief Executive Officer
        li.leadership__item
          a(href='')
            img.leadership__img(src="images/home/3.jpg", alt="")
          h3
            a(href="") Lorem Ipsum 
          div Managing Principal, Founder and Chief Executive Officer
        li.leadership__item
          a(href='')
            img.leadership__img(src="images/home/3.jpg", alt="")
          h3
            a(href="") Lorem Ipsum 
          div Managing Principal, Founder and Chief Executive Officer