extends ../layouts/layout

block variables
    - var title ="Recent News"

block main
  main.recent-news.inner-page
    .container
      h1 Resent News
      .recent-news__content
        .recent-news__item
          .recent-news__date December 03, 2021
          a.recent-news__link(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat nisi nobis excepturi quos delectus nam illum, commodi eaque? Quibusdam aut enim debitis reprehenderit, adipisci officia eos molestiae velit nulla animi? 
        .recent-news__item
          .recent-news__date December 03, 2021
          a.recent-news__link(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat nisi nobis excepturi quos delectus nam illum, commodi eaque? Quibusdam aut enim debitis reprehenderit, adipisci officia eos molestiae velit nulla animi? 
        .recent-news__item
          .recent-news__date December 03, 2021
          a.recent-news__link(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat nisi nobis excepturi quos delectus nam illum, commodi eaque? Quibusdam aut enim debitis reprehenderit, adipisci officia eos molestiae velit nulla animi? 
        .recent-news__item
          .recent-news__date December 03, 2021
          a.recent-news__link(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat nisi nobis excepturi quos delectus nam illum, commodi eaque? Quibusdam aut enim debitis reprehenderit, adipisci officia eos molestiae velit nulla animi? 
        .recent-news__item
          .recent-news__date December 03, 2021
          a.recent-news__link(href="#") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat nisi nobis excepturi quos delectus nam illum, commodi eaque? Quibusdam aut enim debitis reprehenderit, adipisci officia eos molestiae velit nulla animi? 