extends ../layouts/layout
include ../partials/bg/bg
include ../partials/button/button
include ../partials/poster/poster

block variables
    - var title ="Technology"

block main
  main.technology
    section.technology-header.full-screen
      .technology-header__textual
        h1.animate-h1.technology__animate-h1
          span.animate-h1__text Technology
          img.animate-h1__pill.animate-h1__pill_yellow(src="images/animate-h1/pill-yellow.png", alt="")
          img.animate-h1__pill.animate-h1__pill_blue(src="images/animate-h1/pill-blue.png", alt="")
          img.animate-h1__pill.animate-h1__pill_white(src="images/animate-h1/pill-white.png", alt="")
          img.animate-h1__pill.animate-h1__pill_pink(src="images/animate-h1/pill-pink.png", alt="")
          img.animate-h1__pill.animate-h1__pill_green(src="images/animate-h1/pill-green.png", alt="")
      .scroll
       .scroll__block
        .scroll__text Scroll
        .scroll__bar

    section.technology-intro.full-screen.fade-up
      .container.technology-intro__container
        .technology-intro__textual
          .suptitle Technology
          h2.h1.technology-intro__h2
            span Introducing
            img(src='images/technology/1.svg' alt='')
          .title <b>The RITe™ Platform</b> is an easy-to-take orally disintegrating tablet platform that rapidly infuses an active ingredient into the patient’s bloodstream directly through tissue in the mouth – enabling therapeutic effects within minutes.

    section.technology-about.sticky-section
      +bg('images/technology/about-hero.jpg', 'technology-about__bg sticky-section__img')
      .container.technology-about__container
        .sticky-section__textual.technology-about__textual
          .sticky-section__plug
          p RITe™ tablets are smaller than a U.S. dime and disintegrate in under 3 seconds.
          p Once placed between your cheek and gum, RITe™ tablets gently bind to your cheek, rapidly infusing an active ingredient into the bloodstream through the buccal tissue in your mouth.
          p By delivering medications through this highly vascularized tissue, the RITe™ Platform avoids the destructive acidic environment of the GI tract and first pass metabolism, resulting in superior absorption to traditional oral pharmaceutical products.

    section.technology-advantage
      .container
        ul.technology-advantage__list.fade-up-ladder
          li.technology-advantage__item
            +bg('images/technology/advantage/1.svg', 'technology-advantage__icon')
            h3.technology-advantage__title Easy to take
            p RITe™ tablets disintegrate rapidly, without the need for water
          li.technology-advantage__item
            +bg('images/technology/advantage/2.svg', 'technology-advantage__icon')
            h3.technology-advantage__title Fast action
            p Effects are felt in minutes
          li.technology-advantage__item
            +bg('images/technology/advantage/3.svg', 'technology-advantage__icon')
            h3.technology-advantage__title Enhanced bioavailability
            p Lower dose still achieves desired effects while reducing unwanted side effects
          li.technology-advantage__item
            +bg('images/technology/advantage/4.svg', 'technology-advantage__icon')
            h3.technology-advantage__title Durable, portable, and highly stable
            p RITe™ tablets are compact, lightweight, and not sensitive to storage conditions

    section.technology-desc.sticky-section
      .sticky-section__img.technology-desc__img
        svg.animation-circles-bg
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15')
          circle(r='15') 
          circle(r='15')
          circle(r='15')
          circle(r='15')
      .container
        .technology-desc__textual
          .sticky-section__textual
            .sticky-section__plug
            p The RITe™ Platform is a versatile technology that can enable a wide range of active ingredients to work quickly and efficiently in the body.
            p With extremely rapid disintegration time, enhanced absorption profiles and advanced flavor masking capabilities, the RITe™ Platform can improve treatment outcomes and consumer experiences for both therapeutics and consumer products.
            p We are pursuing a variety of therapeutics and products that require fast action or are currently delivered via IV/IM injection, suffer from poor oral bioavailability, and/or have increased side effects when taken orally.

    section.technology-manuf
      .container.technology-manuf__container
        .suptitle Next up
        h2.technology-manuf__title Manufacturing
        a.btn.btn_circle(href="")
          img.btn__arrow(src='images/arrow.svg' alt='')


    

